@import "tailwindcss";
.completed-day {
  background: linear-gradient(
    135deg,
    #8b5cf6,
    #6366f1
  ) !important;

  color: white !important;

  border-radius: 16px !important;

  transform: scale(1.05);

  box-shadow:
    0 8px 20px rgba(
      99,
      102,
      241,
      0.4
    );
}

.react-calendar {
  width: 100% !important;
  border: none !important;
}

.react-calendar__tile {
  border-radius: 12px;
  transition: all 0.2s;
}

.react-calendar__tile:hover {
  transform: translateY(-2px);
}